<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/formStyle.css">
    <title>Add Message</title>
</head>
<body>
    <header class="header">
        <a href="/">
            <button class="nav-btn">Home</button> 
        </a>
        <a href="/newMessage">
            <button class="nav-btn">Add Message</button> 
        </a>
        <a href="/search">
            <button class="nav-btn">Search User Message</button> 
        </a>
        
    </header>
    
    <div class="form-container">
        <form id="newMessageForm" action="" method="POST">
        <label for = "username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="messageText">Message:</label>
        <textarea id="messageText" name="messageContent" required></textarea>

        <button id="submitBtn" type="submit">Add Message</button>
    </form>
    </div>

    <div id="error-container">
        <% if(error) { %>
            <div class = "modal err-modal">
                <%= error %>
            </div>
        <% } %>
    </div>

    
   
</body>
</html>