<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homeStyle.css">
    <title>Home Page</title>
</head>
<body>
    <header class="header">
        <a href="">
            <button class="nav-btn">Home</button> 
        </a>
        <a href="/newMessage">
            <button class="nav-btn">Add Message</button> 
        </a>
        <a href="/search">
            <button class="nav-btn">Search User Message</button> 
        </a>
        
    </header>
    <div id="messageContainer">
        <% if(!error){%>
            <% for(let i = 0; i<messageTexts.length;i++) { %>
                <div class="message">
                    <h3><%= messageTexts[i].user %></h3>
                    <p><%= messageTexts[i].text %></p>
                    <p><%= messageTexts[i].dateAdded %></p>
                </div>
            <% } %>
        <%} %>
    </div>

    <div id="error-container">

    </div>
</body>
</html>